.navbar-header
    a.navbar-brand(href="https://vk.com/sphericalcow", target="blank", style="padding-top: 0px;")
        img(src="s/img/logo.png", style="width: 50px;")
    a.navbar-brand(href="https://vk.com/sphericalcow", target="blank")
        Сферическая корова